.idea/
__pycache__/application.cpython-37.pyc
templates/__pycache__/models.cpython-37.pyc
fooddata.db
__pycache__/forms.cpython-37.pyc
static/images/8890b5d1e5aad27c.jpg
static/images/3b541af702ec1083.jpg
static/images/50351181643da92b.jpg
static/images/6701cad689705b52.jpg
static/images/eee90201bdc6389f.jpg
static/images/f48f983a3be0c49c.jpg
