{% extends "layout.html" %}
{% block content %}
    <div class="div_space">
        <br>
        <p>To add food fill out the form below.</p>
        <form method="POST" action="/add_food" enctype="multipart/form-data">
            {{ form.hidden_tag() }})
            <fieldset>
                <div>
                    {{ form.name.label() }}
                    {{ form.name() }}
                </div>
                <div>
                    {{ form.exp_date.label() }}
                    {{ form.exp_date() }}
                </div>
                <div>
                    {{ form.picture.label() }}
                    <input id="picture" name="picture" type="file" accept="image/*" capture="camera">
                </div>
            </fieldset>
            <br>
            <div>
                {{ form.submit(class="button") }}
            </div>
        </form>
    </div>


{% endblock %}