{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="{{ url_for('insert_new_bar') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset>
            <div>
                {{ form.barcode.label() }}
                {{ form.barcode() }}
            </div>
            <div>
                {{ form.name.label() }}
                {{ form.name() }}
            </div>
            <div>
                {{ form.food_picture.label() }}
                <input id="food_picture" name="food_picture" type="file" accept="image/*" capture="camera">
            </div>
        </fieldset>
        <div>
            {{ form.submit(class="button") }}
        </div>
    </form>
{% endblock %}