{% extends "layout.html" %}
{% block content %}
    <div class="div_space">
        <h4>Here is the list of foods in the fridge.</h4>
        <br>
        <h3> Today is: {{ today }}</h3>
    </div>
    <br>
    <div class="div_space">
        Would you like to<a class="button_small" href="{{ url_for('add_food') }}">ADD</a>new food?
    </div>
    <br>
    <div class="div_space">
        <table>
            <tr>
                <th>Food Expire Date</th>
                <th>Days Left</th>
                <th>Food Name</th>
                <th>Image</th>
                <th>Options</th>
            </tr>
            {% for food in foods %}
                <tr>
                    <td>{{ food.exp_date.date() }}</td>
                    {% if food.calculate_days_left(today) < 5 %}
                        <td class="near_exp">
                            {{ food.calculate_days_left(today) }}
                        </td>
                    {% else %}
                        <td>
                            {{ food.calculate_days_left(today) }}
                        </td>
                    {% endif %}
                    <td>{{ food.name }}</td>
                    <td><img src="{{ url_for('static', filename='images/') }}{{ food.picture }}"></td>
                    <td><form action="{{ url_for('delete_food', food_id=food.id) }}" method="POST">
                            <input class="button_small" type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}